body {
    font-family: "Roboto", sans-serif;
    background-image: url("/img/blog.jpg");
    background-size: cover;
  }
  
  .sidenav {
    height: 100vh;
    width: 120px;
    position: fixed;
    z-index: 1;
    right: 0;
    background-color: rgb(49, 47, 47, 0.5);
    overflow-x: hidden;
    padding-top: 100px;
  }
  
  .sidenav a {
    float: right;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
  }
  
  .sidenav a:hover {
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px rgb(232, 248, 1), 0 0 40px rgb(232, 248, 1);
  }
  
  to {
    text-shadow: 0 0 20px yellow, 0 0 30px rgb(229, 255, 83), 0 0 40px rgb(229, 255, 83), 0 0 50px rgb(229, 255, 83);
  }
}

/* Style the navigation bar */
.navbar {
  width: 100vw;
  background-color: #111;
  overflow: auto;
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

/* Navbar links */
.navbar a {
  text-align: center;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px rgb(232, 248, 1), 0 0 40px rgb(232, 248, 1);
  }
  
  to {
    text-shadow: 0 0 20px yellow, 0 0 30px rgb(229, 255, 83), 0 0 40px rgb(229, 255, 83), 0 0 50px rgb(229, 255, 83);
  }
}

.navbar-left {
  float: left;
}

.navbar-right {
  float: right;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.footer {
   display: grid;
   grid-template-columns: 250px 250px 250px 100px 100px;
   grid-template-rows: 1fr 1fr;
   justify-content: space-evenly;
   font-size: 14px;
   position: relative;
   right: 0;
   bottom: 0;
   left: 0;
   width: 90vw;
   background-color: lightgray;
   color: #111;
   text-align: center;
   margin: 0;
   overflow: wrap;
}

.footer a {
   color: #111;
   text-align: center;
   text-decoration: none;
}

.footer a:hover {
   color: blue;
}

#reg {
   background-color: lightblue;
   font-size: 14px;
   line-height: 25px;
   text-decoration: underline;
   border: darkgoldenrod solid 2px;
   border-radius: 15px;
}

#login {
   background-color: lightblue;
   font-size: 14px;
   line-height: 25px;
   text-decoration: underline;
   border: darkgoldenrod solid 2px;
   border-radius: 15px;
}

.footer p {
   font-size: 12px;
   justify-content: center;
   color: darkblue;
   text-align: center;
   margin: auto;
   grid-column: 1 / span 5;
}

.content {
    display: grid;
    grid-column: auto auto;
    grid-gap: 20px;
    padding: 20px;
    text-align: center;  
    top: 50px;
    left: 50px;
    position: relative; /*Added this*/
    width: 80vw;
    background-color: lightyellow;
    border: 10px ridge goldenrod;
    background-image: url("/img/blog_background.png");
    border-radius: 15px;
    min-height: 100vh;
}

.blogpost {
    display: grid;
    grid-template-columns: 150px auto;
    padding: 20px;
    margin: auto;
    background: rgba(252, 252, 214, 0.7);
    position: relative; /*Added this*/
    width: 70vw;
    border: 2px solid rgb(250, 183, 58);
    border-radius: 30px;
}

#post-1 {
    /*border: 2px solid red;*/
}

.post-1 ul {
  font-weight: bold;
  text-align: left;
  list-style-type: none;
  margin-left:-15px;
}

.post-1 ul li {
  margin-top: 10px;
  margin-right: 15px;
  font-weight: normal;
  font-style: italic;
}

.title {
  display: grid;
  width: 50%;
  margin: auto;
}

#title {
    font-family: fantasy, sans-serif;
    color: darkmagenta;
    font-size: 40px;
    border-bottom: solid plum;
}