body {
    font-family: "Roboto", sans-serif;
    background-image: url("/img/blog.jpg");
    background-size: cover;
  }
  
  .sidenav {
    height: 100vh;
    width: 120px;
    position: fixed;
    z-index: 1;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 100px;
  }
  
  .sidenav a {
    float: right;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: yellow;
  }

/* Style the navigation bar */
.navbar {
  width: 100vw;
  background-color: #111;
  overflow: auto;
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

/* Navbar links */
.navbar a {
  text-align: center;
  padding: 12px;
  color: #818181;
  text-decoration: none;
  font-size: 22px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  color: yellow;
}

.navbar-left {
  float: left;
}

.navbar-right {
  float: right;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.footer {
   font-size: 14px;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100vw;
   background-color: lightgray;
   color: #111;
   text-align: center;
}

.footer a {
   padding: 15px;
   color: #111;
   text-align: center;
}

.footer a:hover {
   color: blue;
}

.content {
    display: flexbox;  
    padding: 20px;
    text-align: center;  
    top: 50px;
    left: 50px;
    position: relative; /*Added this*/
    width: 80vw;
    background-color: lightyellow;
    border: 10px ridge goldenrod;
    background-image: url("/img/blog_background.png");

    
}

#blogpost {
    display: flex;
    color: #111;
    padding: 20px;
    text-align: left;  
    /*top: 10px;
    left: 10px;*/
    background: lightyellow;
    margin: auto;
    position: relative; /*Added this*/
    width: 70vw;
    flex-direction: column;
    border: 2px dotted gray;
    justify-content: center;   
}

#title {
    font-family: fantasy, sans-serif;
    color: darkmagenta;
    font-size: 40px;
}