body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 140px;
    position: fixed;
    z-index: 1;
    top: 10;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    float: right;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .topnav {
    background-color: #111;
    overflow: hidden;
}

.topnav a {
    float: left;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;color: #818181;
    text-align: center;  
}

.topnav a:hover {
    color: #f1f1f1;
}

.topnav-right {
  float: right;
}
