img {
   
}

body {background-image: url("../img/blog.jpg");
    background-size: 100% auto;}
img {width: 100%;
height: 100%;}

#man { height: 200px; width: auto; margin-left: 10px;}
.profileGroup {padding: 5px; }
input { width: 200px; border-radius: 6px; border: 1px solid black;}
#user-name {margin-left: 12px;}
#password {margin-left: 19px;}
#name {margin-left: 42px;}
#birthDate {margin-left: 17px}
#userImage {vertical-align: top; }

.button {padding: 5px; 
    color: rgb(73, 67, 67);border-radius: 5px; 
    background-color: rgb(210, 219, 188); line-height: 35px;
}

.formInfo {box-shadow: 2px 2px rgb(201, 188, 188); border-radius: 5px; width: 500px; background-image: url(../img/blog_background.png); background-size: 120vh;}
.formEdit { background-image: url(../img/pastel-grunge-background.jpg); background-size: 110vh; border-radius: 5px; width: 500px;}
